@model IEnumerable<BlogPostDto>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2">

	<div class="row">
		<div class="page-header breadcrumb-header p-3 mr-2 ml-2 m-2">
			<div class="row align-items-end ">

				<div class="col-lg-12">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item "><a as><i class="fas fa-home"></i></a></li>
						<li class="breadcrumb-item active"> وبلاگ ها  </li>

					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="card shade h-100 ">
		<div class="card-body table-responsive">

			<div class="d-flex justify-content-around">
				<h5 class="card-title">لیست وبلاگ ها   </h5>
				<button class="btn o-primary  text-center" onclick="OpenUpsertModal()">اضافه کردن</button>
			</div>
			<hr>
			<table id="BTable" class="table table-striped   m-1" style="width:100%">
				<thead>
					<tr>
						<th> شناسه </th>
						<th>نام</th>
						<th> خلاصه</th>
						<th>محتوا‌ </th>
						<th>عکس</th>
						<th>تاریخ ساخت</th>
						<th>   تنظیمات</th>

					</tr>
				</thead>
				<tbody>


					@{
						int counter = 1; // شمارنده دستی
					}
					@foreach (var blog in Model)
					{
						<tr>
							<td>@counter</td>
							<td>@blog.Title</td>
							<td>@blog.Summary</td>
							<td>@blog.Content</td>
							<td><img src="@blog.FeaturedImage" alt="Alternate Text" /></td>
							<td>@blog.PublishDate</td>
							<td>
								<div class="d-flex align-items-center">
									<button class="btn c-warning me-2" onclick="OpenUpsertModal(@blog.Id)">
										<i class="fa fa-edit"></i>
									</button>
									<button class="btn c-forth">
										<i class="fa fa-trash"></i>
									</button>
								</div>
							</td>

						</tr>
						counter++;
					}


				</tbody>
			</table>
		</div>

	</div>
</div>
<div class="modal fade" id="UpsertModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="UpsertModalTitle">افزودن وبلاگ</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form id="UpsertBlogForm">
					<input type="hidden" name="Id" id="BlogId">

					<div class="mb-3">
						<label class="form-label">عنوان وبلاگ</label>
						<input type="text" class="form-control" name="Title" id="Title">
					</div>

					<div class="mb-3">
						<label class="form-label">تصویر وبلاگ</label>
						<input type="text" class="form-control" name="FeaturedImage" id="FeaturedImage">
					</div>
					<div class="mb-3">
						<label class="form-label">خلاصه وبلاگ</label>
						<input type="text" class="form-control" name="Summary" id="Summary">
					</div>

					<div class="mb-3">
						<label for="Content">محتوا</label>
						<textarea id="Content" name="Content" rows="10" class="form-control"> </textarea>
					</div>


					<button type="submit" class="btn btn-primary">ذخیره</button>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts
{
	<script>
		$(document).ready(function () {
			 $('#BTable').DataTable({
				 responsive: true, // برای ریسپانسیو کردن جدول
				 autoWidth: false, // جلوگیری از عرض خودکار
				 dom: '<"row"<"col-sm-6"f><"col-sm-6"l>>' +
					  '<"row"<"col-sm-12"tr>>' +
					  '<"row"<"col-sm-5"i><"col-sm-7"p>>',
							 pageLength: 5, // تعداد پیش‌فرض رکوردها
		lengthMenu: [[5, 10, 20, -1], ["5", "10", "20", "همه"]], // اضافه کردن گزینه 5 تایی
		scrollY: "50vh", // محدود کردن ارتفاع جدول
		scrollCollapse: true, // فعال کردن اسکرول وقتی رکوردها بیشتر از ارتفاع هستند

				 language: {
					 decimal: "",
					 emptyTable: "هیچ داده‌ای موجود نیست",
					 info: "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
					 infoEmpty: "نمایش 0 تا 0 از 0 رکورد",
					 infoFiltered: "(فیلتر شده از _MAX_ رکورد)",
					 lengthMenu: "نمایش _MENU_ رکورد در هر صفحه",
					 loadingRecords: "در حال بارگذاری...",
					 processing: "در حال پردازش...",
					 search: "جستجو:",
					 zeroRecords: "رکوردی مطابق با جستجوی شما یافت نشد",
					 paginate: {
						 first: "اولین",
						 last: "آخرین",
						 next: "بعدی",
						 previous: "قبلی"
					 },
					 aria: {
						 sortAscending: ": فعال‌سازی مرتب‌سازی صعودی",
						 sortDescending: ": فعال‌سازی مرتب‌سازی نزولی"
					 }
				 }
			 });
		});
	</script>



	<script>
function OpenUpsertModal(blogId = null) {
    if (blogId) {
        $.ajax({
            url: "/Admin/BlogAdmin/GetBlog",
            type: "GET",
            data: { id: blogId },
            success: function (blog) {
                $("#BlogId").val(blog.id);
                $("#Title").val(blog.title);
                $("#Summary").val(blog.summary);
                $("#FeaturedImage").val(blog.featuredImage);
                
                // مقداردهی CKEditor 5
                if (window.editor) {
                    window.editor.setData(blog.content);
                } else {
                    ClassicEditor.create(document.querySelector('#Content'))
                        .then(editor => {
                            window.editor = editor;
                            editor.setData(blog.content);
                        })
                        .catch(error => console.error('خطا در CKEditor:', error));
                }

                $("#UpsertModalTitle").text("ویرایش وبلاگ");
                $("#UpsertModal").modal("show");
            },
            error: function () {
                alert("خطایی رخ داده است!");
            }
        });
    } else {
        $("#BlogId").val("");
        $("#Title").val("");
        $("#Summary").val("");
        $("#FeaturedImage").val("");

        // مقداردهی CKEditor 5 در حالت افزودن جدید
        if (window.editor) {
            window.editor.setData("");
        } else {
            ClassicEditor.create(document.querySelector('#Content'))
                .then(editor => {
                    window.editor = editor;
                    editor.setData("");
                })
                .catch(error => console.error('خطا در CKEditor:', error));
        }

        $("#UpsertModalTitle").text("افزودن وبلاگ");
        $("#UpsertModal").modal("show");
    }
		}



	</script>

	  <script src="~/Admin/ckeditor5/ckeditor5/ckeditor5.js"></script> 
	<script>
$('#UpsertModal').on('shown.bs.modal', function () {
    if (!CKEDITOR.instances['Content']) {
        ClassicEditor
            .create(document.querySelector('#Content'))
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('خطایی رخ داد:', error);
            });
    }
		});

	</script>
}